/* Reset or Normalize Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* root  */

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #212529;
    --link-color: #0056b3;
    --danger-color: #dc3545;
}

/* base setup */
html {
    font-size: 16px; /* Base font size */
    scroll-behavior: smooth; /* Smooth scrolling */
}

body {
    font-family: "Inter", sans-serif; /*fonts */
    line-height: 1.6;
    color: #333; /* Default text color */
    background-color: #f8f9fa; /* Default background color */
    margin: 0;
}

/* typo */

h2 {
    font-size: 24px;
    line-height: 20px;

    font-weight: 700;
}

h3 {
    font-size: 20px;
    line-height: 16px;
    color: #e1e1ed;
    font-weight: 400;
}

p {
    font-size: 14px;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: inherit; /* Inherit color for contextual links */
    transition: color 0.3s ease;
}

a:hover {
    color: #007bff; /* Hover color for links */
}
