/* Navbar section  */

.nav {
    position: fixed;
    top: 5%;
    right: 40px;
    z-index: 10;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}
.nav ul li {
    list-style: none;
}

.nav ul li a {
    font-size: 14px;
}

/* hero */

.hero {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.hero-image {
    position: relative;
    padding-top: calc(1136 / 2560 * 100%);
}

.hero-image img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.text h2 {
    margin-bottom: 1rem;
    color: white;
}

/* vision */

.vision {
    width: 65%;
    margin: 0 auto;
    padding: 60px 0;
}

/* all h2 if the color and other property are same */

.vision h2{
    color: #1f0f22;
    margin: 0 0 30px 0;
    text-align: center;
    font-weight: 500;
}

.vision p,
.single-text p {
    color: #4c4c4b;
    text-align: justify;
}

/* message */

.message{
    /* background: #F6F6F6; */
   
}

.single {
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* gap: 20px; */
 
}

.single-image {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    padding-top: calc(350 / 1280 * 100%);
    margin-bottom: 60px;
}

.single-image img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.single-text {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px;
    background: #F6F6F6;
      
}

.single-text h2 {
    color: #1f0f22;
    margin: 30px 0;
    text-align: center;
    font-weight: 500;
    
}

.single:nth-child(even){
    flex-direction: row-reverse;
}
